body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-box {
  display: flex;
  align-items: center;
  gap: 3px;
}
.flex-box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-box i {
  font-size: 20px;
  color: #cc43fa;
}
.flex-box p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
.gm-style .gm-style-iw-d {
  padding-top: 12px;
}
.gm-style .gm-style-iw-c {
  width: max-content;
  border: 1px solid #cc43fa;
  z-index: 9999;
  transform: translate3d(-50%, -80%, 0);
}
.gm-style .gm-style-iw-c i {
  font-size: 22px;
  color: #cc43fa;
}
.gm-style .gm-style-iw-c p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.gm-style-iw-chr {
  display: none;
}
.gm-style-iw-tc {
  display: none;
}
.search-box input {
  border: none;
}
.search-box label {
  border: 1px solid #000;
}
.search-box input:focus {
  outline: none; /* 기본 아웃라인 제거 */
}
.swiper img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.swiper .swiper-slide {
  width: 150px !important;
  height: 150px !important;
  z-index: 1;
}

.modal {
  position: fixed; /* 고정 위치 */
  top: 0;
  left: 0;
  width: 100vw; /* 전체 화면 너비 */
  height: 100vh; /* 전체 화면 높이 */
  background-color: rgba(0, 0, 0, 0.7); /* 반투명 검은색 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 높은 z-index */
}

.modal img {
  width: 40% !important; /* 최대 너비 */
  height: 50% !important; /* 최대 높이 */
  border-radius: 8px; /* 이미지 모서리 둥글게 */
}
#map {
  flex: 1; /* 남은 공간을 차지하도록 설정 */
  min-width: 0; /* 최소 너비를 0으로 설정 (부모 
  요소의 너비 제한으로 인한 overflow 방지) */
  height: 100%;
  position: fixed;
  top: 0;
  width: 3000px;
  height: 1500px;
  overflow: hidden;
}
.flex_box ul {
  max-width: 600px;
  flex-shrink: 0; /* ul이 줄어들지 않도록 설정 */
  padding: 0 16px 0 16px;
}
.addform {
  max-width: 600px;
  flex-shrink: 0; /* ul이 줄어들지 않도록 설정 */
  padding: 0 16px 0 16px;
  border: 3px solid #cc43fa;
}
.addform .flex-box2 p {
  font-weight: bold;
}
.addform input {
  width: 350px;
  margin-bottom: 10px;
}
.addform label {
  display: block;
}
.addModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #cc43fa;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10101;
  background-color: #fff;
}
.addModal button {
  margin-left: 0;
}
.xi-info-o {
  font-size: 25px;
}
.flex_box ul li {
  list-style: none;
  margin-bottom: 50px;
}
.cafeList {
  max-height: 1500px;
  overflow-y: scroll;
}
.cafeList h2 {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  font-weight: normal;
  font-size: 22px;
}
.cafeList p {
  margin: 0;
  margin-bottom: 10px;
}
.flex_box {
  display: flex;
}
.search-box {
  display: block;
  max-width: 600px;
  padding-top: 20px;
  height: 30px;
  padding-left: 16px;
  margin-bottom: 10px;
}
button {
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #cc43fa;
  border-radius: 5px;
  padding: 5px;
  margin-left: 15px;
}
.addform button {
  margin-bottom: 15px !important;
}
.search-box label {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #cc43fa;
}
.search-box label i {
  padding-right: 5px;
}
.search-box input {
  width: 570px;
  height: 28px;
  border-radius: 10px;
  padding-left: 10px;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 10px; /* 너비 */
}

/* 스크롤바의 트랙 (배경) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 색상 */
}

/* 스크롤바의 핸들 */
::-webkit-scrollbar-thumb {
  background: #df8cfa; /* 색상 */
  border-radius: 10px; /* 둥글게 */
}

/* 핸들이 호버될 때의 색상 */
::-webkit-scrollbar-thumb:hover {
  background: #cc43fa; /* 호버 색상 */
}
.review {
  color: #f5683c;
  font-weight: bold;
}
.cafeList p span {
  font-weight: bold;
  color: #cc43fa;
}
@media (max-width: 1200px) {
  .flex_box ul {
    max-width: 400px;
  }

  .search-box {
    max-width: 400px;
    padding-right: 16px;
  }

  .search-box input {
    width: 360px;
  }
}

@media (max-width: 768px) {
  .flex-box2 {
    margin-top: 15px;
  }
  .flex_box ul {
    max-width: 740px;
  }

  .search-box {
    max-width: 720px;
  }

  .search-box input {
    width: 690px;
  }
  .flex_box {
    flex-direction: column-reverse;
  }
  .cafeList {
    max-width: none;
    overflow-y: visible;
  }
  #map {
    width: 750px;
    height: 400px;
    flex: none;
  }
  .swiper .swiper-slide {
    width: 220px !important;
    height: 220px !important;
  }
  .swiper .swiper-slide img {
    width: 220px !important;
    height: 220px !important;
  }
  .modal img {
    width: 65% !important; /* 최대 너비 */
    height: 50% !important; /* 최대 높이 */
    border-radius: 8px; /* 이미지 모서리 둥글게 */
  }
}

@media (max-width: 500px) {
  .flex_box ul {
    max-width: 480px;
  }

  .search-box {
    max-width: 450px;
  }

  .search-box input {
    width: 440px;
  }
  .flex_box {
    flex-direction: column-reverse;
  }
  .cafeList {
    max-width: none;
    overflow-y: visible;
  }
  #map {
    max-width: 420px;
    height: 220px;
    flex: none;
    align-items: center;
  }
  .swiper .swiper-slide {
    width: 220px !important;
    height: 220px !important;
  }
  .swiper .swiper-slide img {
    width: 220px !important;
    height: 220px !important;
  }
  .modal img {
    width: 65% !important; /* 최대 너비 */
    height: 50% !important; /* 최대 높이 */
    border-radius: 8px; /* 이미지 모서리 둥글게 */
  }
}

@media (max-width: 400px) {
  .flex_box ul {
    max-width: 350px;
  }

  .search-box {
    max-width: 350px;
  }

  .search-box input {
    width: 300px;
  }
  .flex_box {
    flex-direction: column-reverse;
  }
  .cafeList {
    max-width: none;
    overflow-y: visible;
  }
  #map {
    max-width: 375px;
    height: 200px;
    flex: none;
    align-items: center;
  }
  .swiper .swiper-slide {
    width: 150px !important;
    height: 150px !important;
  }
  .swiper .swiper-slide img {
    width: 150px !important;
    height: 150px !important;
  }
  .modal img {
    width: 75% !important; /* 최대 너비 */
    height: 60% !important; /* 최대 높이 */
    border-radius: 8px; /* 이미지 모서리 둥글게 */
  }
}

@media (max-width: 360px) {
  .flex_box ul {
    max-width: 280px;
  }

  .search-box {
    display: inline-block;
    max-width: 280px;
  }

  .search-box input {
    width: 235px;
  }
  .flex_box {
    flex-direction: column-reverse;
  }
  .cafeList {
    max-width: none;
    overflow-y: visible;
  }
  #map {
    width: 280px;
    height: 180px;
    flex: none;
  }
  .swiper .swiper-slide {
    width: 120px !important;
    height: 120px !important;
  }
  .swiper .swiper-slide img {
    width: 120px !important;
    height: 120px !important;
  }
  .modal img {
    width: 75% !important; /* 최대 너비 */
    height: 60% !important; /* 최대 높이 */
    border-radius: 8px; /* 이미지 모서리 둥글게 */
  }
}
